div {
    height: 96vh ;
    display: flex;
    justify-content: right;
}

button {
    height: 30%;
    font-size: 50px;
    background-color: yellow;
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: 5;
        justify-content: right;
}

@keyframes blink{
        0%{background-color: yellow; border-radius: 0%;}
        50% {background-color: pink;border-radius: 50%;}
        100%{background-color: yellow;border-radius: 100%;}
        50% {background-color: pink;border-radius: 50%;}
        0%{background-color: yellow; border-radius: 0%;}

}
