body{
    background-color:black;
}
*{
    font-size:  40px;
    text-align : center;
}
div  div{
    border: 1px solid black;
    height : 100% ;
}

#GridContainer {
    height: 60vh ;
    display: grid;
    grid-template-areas:
    'header header header header header'
    'menu menu menu menu changePic'
    'menu footer footer footer footer'
    'button';
}

#item1 {
    grid-area:header;
    width:100%;
    background-color: orange;
}

#item2 {
    grid area:menu;
    width:100%;
    background-color:blue;
}

#item3 {
grid area:main;
    width:100%;
    background-color:red;
}

#item4 {
grid area:right;
    width:100%;
    background-color:red;
}
#item5 {
grid area:footer;
    width:100%;
    background-color:red;
    }


@media only screen and (max-width: 600px){ /* in case of minimize screen */
    body{
    background-color: yellow;
        }
    #GridContainer {
    display: grid;
    grid-template-areas:
    'button'
    'header '
    'menu '
    'menu '
    'right '
    'footer '
    'changePic';
                    }

  }

  div {
    height: 96vh ;
    display: flex;
    justify-content: right;
}

button {
    height: 20%;
    font-size: 50px;
    background-color: yellow;
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: 5;
        justify-content: right;
}

@keyframes blink{
        0%{background-color: yellow; border-radius: 0%;}
        50% {background-color: pink;border-radius: 50%;}
        100%{background-color: yellow;border-radius: 100%;}
        50% {background-color: pink;border-radius: 50%;}
        0%{background-color: yellow; border-radius: 0%;}

}

